section.hero-unit {
  @include responsive-padding('vert', $base-padding);
  position: relative;
  overflow: hidden;
}


@include breakpoint(medium) {
  section.hero-unit.full-height,
  section.hero-unit.fixed-height {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: rem-calc(800);
    padding: 0;
  }
  body.admin-bar section.hero-unit.full-height {
    height: calc(100vh - 132px);
  }

  .hero-unit.full-height {
    height: calc(100vh - 100px);
  }
  .hero-unit.fixed-height {
    height: rem-calc(450);
  }
}

.hero-unit .row {
  position: relative;
  z-index: 10;
}

.hero-unit header {
  margin-bottom: 0;
  p.buttons {
    margin: rem-calc(0);
    position: relative;
    z-index: 10;
    .button {
      display: inline-block;
      margin: rem-calc(25 8 0);
    }
  }
}