section.hero-unit {
  background: #000000;
  min-height: rem-calc(600);
  position: relative;
  text-align: center;
  @include breakpoint(medium) {
    height: rem-calc(600);
  }
  .background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    &::after {
      display: block !important;
      content: '' !important;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,0.7);
      z-index: 1;
    }
  }
}

section.content-block.hero-unit:first-of-type {
  margin-top: 0;
}

body.admin-bar section.content-block.hero-unit:first-of-type {
  height: calc(100vh - 32px);
}

.home .hero-unit {
  height: 100vh;
  position: relative;
  .background-image {
    padding-top: rem-calc(92);
  }
}


.hero-unit header {
  margin-bottom: 0;
  z-index: 10;
  p.buttons {
    margin: rem-calc(0);
    position: relative;
    z-index: 10;
    .button {
      display: inline-block;
      margin: rem-calc(25 8 0);
    }
  }
}
