section.industries {

  .subheadline {
    position: relative;

    @include breakpoint(xlarge) {
      &:after {
        content: '';
        height: rem-calc(2);
        width: rem-calc(40);
        display: block;
        margin: rem-calc(40) auto;
        background: $primary;
      }
    }
  }

}

.industry-item {
  margin: rem-calc(30 0);
  @include breakpoint(large) {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

  .thumb {
    text-align: center;
    margin-bottom: rem-calc(30);
  }

  h2 {
    color: #444444;
    font-size: rem-calc(16);
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-align: center;
    margin-bottom: rem-calc(10);

    &:after {
      content: '';
      height: rem-calc(2);
      width: rem-calc(40);
      display: block;
      margin: rem-calc(20) auto;
      background: #000;
    }
  }

  p {
    text-align: center;
    font-size: rem-calc(14);
    color: #999999;
  }

}
