.filter {
  border-top: rem-calc(5) solid #ebebeb;
  padding: rem-calc(10 0);
  position: relative;
  z-index: 100;
}

.filter-inner {
  max-width: rem-calc(1180);
  margin: 0 auto;

  @include breakpoint(medium) {
    display: flex;
    justify-content: space-between;
  }

  a {
    text-transform: uppercase;
    color: $primary;
    font-size: rem-calc(13);
    font-family: 'Montserrat', sans-serif;
    position: relative;

    &.active,
    &:hover {
      background: $primary;
      color: #fff;
    }
  }
  ul {
    width: auto;
  }
  .dropdown > li > a {
    color: #848484;

    &:after {
      display: none;
      opacity: 0;
    }
    &:hover {
      background: none;
      color: $primary;

      &:before {
        content: '';
        display: block;
        height: rem-calc(2);
        background: $primary;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }

    &.active {
      background: none;
      color: $primary;
    }
  }
}



.all-work {
  padding: 0.7rem 1rem;
  display: block;
  line-height: 1;
}

.is-dropdown-submenu {
  border: none;
  min-width: rem-calc(220);
}

.is-drilldown-submenu-parent > a::after {
  display: none
}


@include breakpoint(small only) {
  .is-dropdown-submenu-parent > a {
      pointer-events: none;
  }

  .dropdown.menu.vertical > li .is-dropdown-submenu {
      top: 100%;
      right: 0;
      left: 0;
      position: relative;
      background: #ebebeb;
  }

  .filter-inner a {
    display: block !important;
    text-align: center;
  }
  .dropdown.menu.vertical > li.opens-right > a::after {
    display: none
  }
}

// .project-catalog .projects {
//   @include breakpoint(medium) {
//     margin-left: rem-calc(-5) !important;
//     margin-right: rem-calc(-5) !important;
//     margin-top: rem-calc(-5);
//     padding-bottom: rem-calc(5);
//   }
// }

.project-item {
  overflow: hidden;
  margin-bottom: rem-calc(10);
  position: relative;

  @include breakpoint(medium) {
    padding: rem-calc(5);
    margin-bottom: 0;
  }

  > img {
    display: block;
    padding: 0 !important;
    width: 100%;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: rem-calc(0);
    left: rem-calc(0);
    right: rem-calc(0);
    bottom: rem-calc(0);
    background: rgba(0,0,0,0.6);

    @include breakpoint(medium) {
      top: rem-calc(5);
      left: rem-calc(5);
      right: rem-calc(5);
      bottom: rem-calc(5);
    }
  }


}

.project-logo {
  position: absolute;
  top: rem-calc(20);
  left: rem-calc(20);
  right: rem-calc(20);
  bottom: rem-calc(20);
  padding: rem-calc(10);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;

  img {
    display: block;
    margin-bottom: rem-calc(0);
    max-height: rem-calc(125);
    transition: 0.3s;
  }

  .button {
    border-width: rem-calc(1);
    border-radius: 0;
    margin-bottom: 0;
    margin-bottom: rem-calc(-40);
    opacity: 0;
    transition: 0.3s;
    z-index: 50;
  }
}


.project-link {
  position: absolute;
  top: rem-calc(-20);
  left: rem-calc(-20);
  right: rem-calc(-20);
  bottom: rem-calc(-20);
  z-index: 50;
}

.project-item {
  &:hover {
    .project-logo {
      img {
        margin-bottom: rem-calc(20);
      }
      .button {
        opacity: 1;
        margin-bottom: 0;
      }
    }
  }
}
