section.services {
  background: $gray-light;
  .service-item {
    color: #757575;
    font-size: rem-calc(14);
    margin-bottom: rem-calc(20);

    @include breakpoint(medium) {
      margin-bottom: rem-calc(50);
    }

    @include breakpoint(large) {

    }

    p {
      margin: 0;
      padding-left: rem-calc(40);

      @include breakpoint(large) {
        padding-left: 0;
      }
    }

    h2 {
      position: relative;
      font-family: 'Raleway', sans-serif;
      text-transform: uppercase;
      color: #606060;
      font-size: rem-calc(16);
      margin-bottom: rem-calc(5);
      font-weight: 700;
      padding-left: rem-calc(40);

      img {
        margin-right: rem-calc(10);
        position: absolute;
        left: 0;
        top: rem-calc(-3);

        @include breakpoint(large) {
          position: static;
        }
      }

      @include breakpoint(large) {
        margin-bottom: rem-calc(17);
        padding-left: 0;
      }


    }
  }
}

section.image-gallery + section.services {
  margin: 0;
}
