.member {
  @include breakpoint(small only) {
    border-bottom: rem-calc(1) solid #acacac;
    margin-bottom: 20px;
    &:last-child {
      border-bottom: 0;
    }
  }

  @include breakpoint(large) {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

  .photo {
    margin-bottom: rem-calc(30);
    img {
      margin: 0 auto;
      display: block;
    }
  }

  .header {
    text-align: center;
    padding-bottom: rem-calc(15);
    margin-bottom: rem-calc(20);

    @include breakpoint(medium) {
      border-bottom: rem-calc(1) solid #acacac;
    }
  }

  .name {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #a2a2a2;
    font-size: rem-calc(19);
    margin-bottom: rem-calc(10);
  }

  .position {
    color: $primary;
    font-size: rem-calc(18);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: rem-calc(15);
  }

  .contact-info {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      vertical-align: top;
      margin: 0 rem-calc(5);
    }

    a {
      color: #a2a2a2;
      line-height: 1;
      font-size: rem-calc(17);
      margin: 0 auto;
    }
  }

  .excerpt {
    color: #777777;
    line-height: 1.785714285714;
    p {
      font-size: rem-calc(14);
    }
    b {
      color: #363636;
    }
  }
}
