section.content-block {
  @include clearfix;
  @include responsive-margin('top');
  clear: both;
  video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
  }
  .overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
}

section[class^='bg-'],
section[class*='bg-'],
section.services {
  @include responsive-padding('vert');
  // margin-top: 0;
}

section:first-of-type[class^='bg-'],
section:first-of-type[class*='bg-'],
section[class^='bg-'] + section[class^='bg-'],
section[class*='bg-'] + section[class*='bg-'],
section.image-gallery + section[class^='bg-'],
section.image-gallery + section[class*='bg-'] {
  margin-top: 0;

}

section.content-block:last-of-type {
  @include responsive-margin('bottom');
}

section:last-of-type[class^='bg-'],
section:last-of-type[class*='bg-'] {
  margin-bottom: 0;
}

header.section-header {
  text-align: center;
  @include responsive-margin('bottom');
}

@include breakpoint(medium) {
  section[class^='thin-'] .main.row,
  section[class*='thin-'] .main.row {
    margin-left: auto;
    margin-right: auto;
  }
  section.content-block.thin-90 .main.row {
    width: 90%;
  }
  section.content-block.thin-80 .main.row {
    width: 80%;
  }
  section.content-block.thin-70 .main.row {
    width: 70%;
  }
  section.content-block.thin-60 .main.row {
    width: 60%;
  }
  section.content-block.thin-50 .main.row {
    width: 50%;
  }
}
