body {
  background: $outer-bg-color;
  color: $primary-font-color;
  font-family: $primary-font-family;
  font-weight: normal;
}

img[class*="wp-image-"],
img[class^="wp-image-"] {
  @include responsive-margin("bottom", $base-margin/2);
}

.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}
.aligncenter {
  @include responsive-margin("bottom", $base-margin/2);
  display: block;
  height: auto;
}
.alignleft,
.alignright {
  height: auto;
}
@include breakpoint(medium) {
  // Only float if not on an extra small device
  .alignleft {
    float: left;
    margin-right: ($base-margin / 2);
  }
  .alignright {
    float: right;
    margin-left: ($base-margin / 2);
  }
}

.bg-grey-light {
  background-color: $grey-light;
}

.bg-dark {
  color: $reverse-font-color;
}

@include breakpoint(medium) {
  section[class^="thin-"] .main.row,
  [class*="thin-"] .main.row {
    margin-left: auto;
    margin-right: auto;
  }
  section.thin-90 .main.row {
    width: 90%;
  }
  section.thin-80 .main.row {
    width: 80%;
  }
  section.thin-70 .main.row {
    width: 70%;
  }
  section.thin-60 .main.row {
    width: 60%;
  }
  section.thin-50 .main.row {
    width: 50%;
  }
}
