.component.buttons {
  @include responsive-margin('top', $global-margin/2);
  a.button {
    margin-left: rem-calc(8);
    margin-right: rem-calc(8);
    &:first-of-type {
      margin-left: 0;
    }
    &.button-fill {
      border-color: $primary;
    }
    &.button-outline {
      color: $primary;
      border-color: $primary;
      &:hover {
        color: #ffffff;
      }
    }
    &.button-maximize {
      margin: 0;
    }
  }
}
