img.gform_ajax_spinner,
.gform_wrapper .hide-label label.gfield_label {
  display: none;
}

.gform_wrapper {

	ul.gform_fields {
		margin: 0;
	}
	
	li.gfield {
		list-style-type: none;
		margin-bottom: rem-calc(20);
		&.gfield_error input,
		&.gfield_error textarea {
			margin-bottom: 0;
		}
	}
	
	.validation_error {
		@include responsive-margin( 'bottom', $base-margin/2 );
		@include responsive-padding( 'vert',  $base-margin/4 );
		border-bottom: solid 1px red;
		border-top: solid 1px red;
		color: red;
		text-align: center;
	}

	.validation_message {
		color: red;
		font-size: rem-calc(14);
	}

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $primary-font-color;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $primary-font-color;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $primary-font-color;
}
:-moz-placeholder { /* Firefox 18- */
  color: $primary-font-color;
}