header.component {
  margin-bottom: 0;

  &.align-left .headline,
  &.align-right .headline {
    max-width: 100%;
  }

  &.align-left h1,
  &.align-left h2,
  &.align-left h3 {
    text-align: left;
  }

  &.align-center h1,
  &.align-center h2,
  &.align-center h3 {
    text-align: center;
  }

  &.align-right h1,
  &.align-right h2,
  &.align-right h3 {
    text-align: right;
  }

  &.no-border h1,
  &.no-border h2,
  &.no-border h3 {
    border: none !important;
    padding-bottom: 0 !important;
  }

}

.row.has-one-column {

  .medium-12 header.component {
    @include breakpoint(medium) {
    margin-left: auto;
    margin-right: auto;
    width: 83.3333333333%;
    }
  }

  header.component {
    padding-right: rem-calc(20);
    padding-left: rem-calc(20);
    @include breakpoint(medium) {
      padding-right: rem-calc(15);
      padding-left: rem-calc(15);
    }
  }

  // .module-header {
  //   @include responsive-margin('bottom');
  //   text-align: center;
  // }

  .headline {
    font-size: rem-calc(26);
    color: $primary;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    max-width: rem-calc(910);
    margin: 0 auto;
    margin-bottom: rem-calc(20);
    letter-spacing: rem-calc(8);

    @include breakpoint(medium) {
      font-size: rem-calc(33);
      padding-bottom: rem-calc(35);
      margin-bottom: rem-calc(40);
    }

  }

  .subheadline {
    color: #444444;
    font-size: rem-calc(22);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;

    @include breakpoint(medium) {
      font-size: rem-calc(26);
    }

  }

}

header.border-gray .headline {
  border-bottom: 1px solid #a1a1a1;
  padding-bottom: rem-calc(15);
}

header.border-blue .headline {
  // loosen specificity on .has-one-column
  margin-bottom: rem-calc(14);
  padding-bottom: rem-calc(14);
  position: relative;
  &:after {
    content: '';
    display: block;
    height: rem-calc(2);
    width: rem-calc(40);
    background: $primary;
    position: absolute;
    bottom: 0;
  }
}

.row.has-one-column header.border-blue .headline {
  font-size: rem-calc(28);
  margin-bottom:  rem-calc(28);
  padding-bottom: rem-calc(30);
}

.row.has-one-column header.component.border-blue + div.component {
  margin-top: 0 !important;
}

header.border-blue.align-center .headline {
  &:after {
    left: 50%;
    margin-left: rem-calc(-20);
  }
}

header.border-blue.align-left .headline {
  &:after {
    left: 0;
  }
}

header.border-blue.align-right .headline {
  &:after {
    right: 0;
  }
}
