.component {
  @include responsive-margin('top');
  &:first-of-type {
    margin-top: 0;
  }
  &.align-left{
    text-align: left;
  }
  &.align-center{
    text-align: center;
  }
  &.align-right{
    text-align: right;
  }
}

header.component:first-of-type + div.component {
  @include responsive-margin('top', $global-margin/2);
}

.has-one-column header.component:first-of-type + div.component {
  @include responsive-margin('top', $global-margin);
}
