.component {
  @include responsive-margin('top');
  &.stack-order-1 {
    margin-top: 0;
  }
  &.align-left{
    text-align: left;
  }
  &.align-center{
    text-align: center;
  }
  &.align-right{
    text-align: right;
  }
}

.has-2-cols .component,
.has-3-cols .component,
.has-4-cols .component   {
  @include responsive-margin('top', $base-margin/2);
  &.stack-order-1 {
    margin-top: $base-margin;
    @include breakpoint(medium) {
      margin-top: 0;
    }
  }
}

.has-2-cols .col-1 .component,
.has-3-cols .col-1 .component,
.has-4-cols .col-1 .component {
  &.stack-order-1 {
    margin-top: 0;
  }
}

.has-one-column header.component + .component.default {
  @include responsive-margin('top', $base-margin/2);
}