.component {
  @include responsive-margin('top');
  &:first-of-type {
    margin-top: 0;
  }
  &.align-left{
    text-align: left;
  }
  &.align-center{
    text-align: center;
  }
  &.align-right{
    text-align: right;
  }
}

header.component:first-of-type + div.component {
  @include responsive-margin('top', $global-margin/2);
}

.has-one-column header.component:first-of-type + div.component {
  @include responsive-margin('top', $global-margin);
}

.row.has-one-column .component {
  padding-right: rem-calc(20);
  padding-left: rem-calc(20);
  @include breakpoint(medium) {
    padding-right: rem-calc(15);
    padding-left: rem-calc(15);
  }
  &.gallery {
    padding-left: 0;
    padding-right: 0;
  }
}
